.about {
	color: white;
	display: grid;
	grid-template-columns: 60px auto;
	.navIcon {
		border-right: 1px solid #1e2d3d;
	}
	.tabsAbout {
		display: grid;
		grid-template-rows: 40px auto;
		.navTabs {
			border-bottom: 1px solid #1e2d3d;
			display: grid;
			grid-template-columns: 240px 1fr 1fr;
			.navTabName {
				display: flex;
				align-items: center;
				border-right: 1px solid #1e2d3d;

				.dropdownToggle {
					background: none;
					border: none;
					cursor: pointer;
					font-size: 16px;
				}
				.personalInfo {
					cursor: pointer;
				}
			}
			.navTabsRight {
				border-left: 1px solid #1e2d3d;
			}
		}
		.aboutPart {
			display: grid;
			grid-template-columns: 240px 1fr 1.5fr;
			.aboutLeft {
				display: grid;
				grid-template-columns: 40px auto;
				position: relative;
				border-right: 1px solid #1e2d3d;
			}
		}
		.aboutMiddle {
			display: grid;
			grid-template-columns: auto 30px;
			margin-top: 100px;

			.form {
				display: flex;
				flex-direction: column;

				align-items: center;
				label {
					display: flex;
					flex-direction: column;
					font-weight: 450;
					font-size: 16px;
					color: #607b96;
				}
				.formInput {
					margin-top: 10px;
					border: 1px solid #1e2d3d;
					border-radius: 8px;
					width: 372px;
					height: 41px;
					background: #011221;
					font-weight: 450;
					font-size: 16px;
					color: #465e77;
					padding: 0 10px;
					margin-bottom: 20px;
					&::placeholder {
						color: #354657;
					}
				}
				.formArea {
					margin-top: 10px;
					border: 1px solid #607b96;
					border-radius: 8px;
					width: 372px;
					height: 145px;
					box-shadow: 0 0 0 2px rgba(96, 123, 150, 0.3);
					background: #011221;
					font-weight: 450;
					font-size: 16px;
					color: #465e77;
					padding: 10px;
					margin-bottom: 15px;
					&::placeholder {
						color: #354657;
					}
				}
				.formBtn {
					border-radius: 8px;
					padding: 10px 14px;
					width: 146px;
					height: 38px;
					background: #1c2b3a;
					font-weight: 450;
					font-size: 14px;
					color: #fff;
				}
			}
		}

		.aboutRight {
			display: grid;
			grid-template-columns: auto 30px;
			border-left: 1px solid #1e2d3d;
			.aboutRightPosts {
				padding: 0 40px;
				display: flex;
				justify-content: center;
				margin-top: 100px;
				p {
					margin-top: 18px;
					font-weight: 450;
					font-size: 18px;
					color: #607b96;
				}
				.formMessage {
					color: #ffffff; /* Цвет текста */
					padding: 10px; /* Внутренний отступ */
					border-radius: 5px; /* Округление углов */
					font-weight: 450; /* Толщина шрифта */
					font-size: 18px; /* Размер шрифта */
					line-height: 1.5; /* Высота строки */
					.formMessageList {
						padding: 5px; /* Необязательно, для читабельности */
						color: #607b96;
						list-style-type: none; /* Убираем стандартные маркеры */
						padding: 0; /* Убираем отступы */
						.formMessageListItem {
							display: flex;
							align-items: center; /* Выравниваем текст и числа по центру */
							margin: 0;
							.number {
								min-width: 20px; /* Резервируем место для числа */
								text-align: right; /* Выравниваем вправо */
								margin-right: 30px; /* Отступ от текста */
							}
						}
					}
				}
			}
		}
		.blockScroll {
			border-left: 1px solid #1e2d3d;
			width: 30px;
		}
		.scroll {
			margin: 5px auto;
			width: 18px;
			height: 7px;
			background: #607b96;
		}
	}
}
