body {
	font-family: 'Orbitron', sans-serif; /* Шрифт в стиле sci-fi */
	background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #00d9ff;
}

.game-container {
	background: linear-gradient(154deg, rgba(23, 85, 83, 0.7) 0%, rgba(67, 217, 173, 0.7) 100%);
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 20px #43d9ad;
	border: 2px solid #00d9ff;
}

.score,
.high-score {
	font-size: 1.4em;
	margin: 10px 0;
}

.game-over {
	font-size: 1.6em;
	color: #ff073a;
	text-shadow:
		0 0 10px #ff073a,
		0 0 20px #ff073a;
	animation: blink 0.8s infinite;
}

@keyframes blink {
	50% {
		opacity: 0.5;
	}
}

.gameCanvas {
	display: block;
	margin: 15px auto;
	border-radius: 10px;
	background: #062431;
	box-shadow: inset 1px 5px 11px 0 rgba(2, 18, 27, 0.71);
}

button {
	margin-top: 15px;
	padding: 12px 25px;
	background: linear-gradient(90deg, #0078ff, #00d9ff);
	border: none;
	border-radius: 8px;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
	transition:
		transform 0.3s,
		box-shadow 0.3s;
}

button:hover {
	transform: translateY(-3px);
	box-shadow: 0 0 20px #00d9ff;
}

.indicator {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	gap: 10px;
}

.lamp {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ccc; /* Цвет лампочки в выключенном состоянии */
	transition: background-color 0.3s ease;
}

.lamp.on {
	background-color: #43d9ad; /* Цвет лампочки в включенном состоянии */
}
