.todo {
	display: flex;
	flex-direction: column;
	background-color: #292b31;
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
	position: relative;
	height: 170px;
	transition: height 0.5s ease;
	&:hover {
		box-shadow: 0 0 5px 1px #ffffff50;
	}
	.headerTodo {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		h2 {
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
			color: #fff;
			margin-bottom: 1rem;
			text-align: start;
			.subTitle {
				font-weight: 500;
				font-size: 14px;
				line-height: 100%;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
	.mainTodo {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 50px;

		.mainTodoHeader {
			display: flex;
			justify-content: space-between;

			.mainTodoHeaderIcon {
				width: 100px;
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				p {
					margin: 0;
					font-weight: 600;
					font-size: 14px;
					line-height: 100%;
					color: rgba(255, 255, 255, 0.5);
					transition: all 0.3s ease;
					&:hover {
						color: #fff;
					}
				}
				.totalTasks {
					font-weight: 600;
					font-size: 14px;
					line-height: 100%;
					text-align: right;
					color: #fff;
				}
			}
		}
		.ProgressBar {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 10px;
		}
		.allTasks {
			opacity: 0;
			transition:
				opacity 0.3s ease,
				transform 0.3s ease;
			pointer-events: none;
			display: flex;
			flex-direction: column;
			.addNewTask {
				height: 30px;
				display: flex;
				align-items: center;
				margin-left: auto;
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 5px 10px;
				border-radius: 15px;
				transition: background 0.3s ease;
				&:hover {
					background: rgba(255, 255, 255, 0.1);
					color: aquamarine;
				}
			}
			.blockAddTask {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				label {
					position: relative;
					width: 100%;
					input {
						box-sizing: border-box;
						height: 40px;
						border-radius: 20px;
						border: none;
						padding-left: 10px;
						background-color: rgba(255, 255, 255, 0.1);
						padding: 0 10px;
						width: 100%;
						color: #fff;
						&:focus {
							outline: none;
						}
					}
				}
				.AddCircleBtn {
					position: absolute;
					top: 0;
					right: 5px;
					word-spacing: -4px;
					font-weight: 600;
					font-size: 12px;
					line-height: 100%;
					color: #fff;
					cursor: pointer;
					.AddCircleIcon {
						width: 25px;
						height: 25px;
						box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
						border-radius: 50%;
						color: #404040;
						opacity: 1;
						background-color: #989caa;
					}
				}
			}
			.menuTasks {
				display: flex;
				flex-direction: column;
				gap: 5px;
				list-style: decimal;
				margin: 0;
				padding: 0;
				height: 200px;
				overflow-y: auto;
				.wrapperTasks {
					display: flex;
					justify-content: center;
					align-items: center;
					// position: relative;
					width: 100%;
					display: flex;
					border-radius: 15px;
					transition: background 0.3s ease;
					&:hover {
						background: rgba(255, 255, 255, 0.1);
					}
					.menuTask {
						display: flex;
						align-items: center;
						margin-left: 20px;
						width: 100%;
						word-wrap: break-word;
					}
					.checked {
						text-decoration: line-through;
					}
					.blockEdit {
						width: 100%;
						label {
							position: relative;
							display: flex;
							align-items: center;
							width: 100%;
							.blockEditInput {
								box-sizing: border-box;
								height: 25px;
								border-radius: 20px;
								border: none;
								padding-left: 10px;
								background-color: rgba($color: #1c1d22, $alpha: 0.5);
								width: 100%;
								color: #fff;
								&:focus {
									outline: none;
								}
							}
							.AddCircleBtn {
								position: absolute;
								right: 0;
								cursor: pointer;
								.blockEditBtn {
									width: 15px;
									height: 15px;
									box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
									border-radius: 50%;
									opacity: 1;
									background-color: #72ff4f;
								}
							}
						}
					}
					.editTask {
						color: #fff;
						&:hover {
							color: orange;
						}
					}
					.deleteTask {
						color: #fff;
						width: 34px;
						height: 34px;
						&:hover {
							color: red;
						}
						svg {
							width: 24px;
							height: 24px;
						}
					}
				}
			}
		}
		.allTasks.show {
			opacity: 1; /* Видим */
			// transform: translateY(0); /* На своём месте */
			pointer-events: all;
		}
	}

	.footerTodo {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		padding: 8px 16px;
		width: 110px;
		height: 20px;
		background: rgba(255, 255, 255, 0.06);
		// position: absolute;
		// bottom: 20px;
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(1.05);
		}
		.dateTodo {
			font-weight: 600;
			font-size: 14px;
			line-height: 100%;
			color: #fff;
		}
	}
	&.showTodo {
		height: 450px;
	}
	&.draggedItem {
		cursor: grab;
	}
}

[draggable='true'] {
	cursor: grab; /* Курсор руки */
}

[draggable='true']:active {
	cursor: grabbing; /* Курсор захвата */
}
