.header {
	display: grid;
	grid-template-columns: 300px auto;
	border-bottom: 1px solid #1e2d3d;
	color: #607b96;
}
.logo,
.nav {
	display: grid;
	display: flex;
	align-items: center;
}
.logo {
	padding-left: 22px;
	border-right: 1px solid #1e2d3d;
}
.navItem {
	// padding: 19px 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 55px;
	&:nth-child(2) {
		border-left: 1px solid #1e2d3d;
		border-right: 1px solid #1e2d3d;
	}
	&:nth-child(3) {
		border-right: 1px solid #1e2d3d;
	}
	&:last-child {
		margin-left: auto;
		border-left: 1px solid #1e2d3d;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #607b96;
		width: 100%;
		height: 100%;
		text-align: center;
		&:hover {
			font-weight: 450;
			font-size: 16px;
			color: #fff;
		}
	}
	&.active {
		border-bottom: 2px solid #fea55f;
	}
	&:hover {
		background-color: #1c2b3a;
	}
}
