.header {
	display: grid;
	grid-template-columns: 300px auto;
	// border-bottom: 1px solid #1e2d3d;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #cccccc;
	@media screen and (max-width: 1024px) {
		display: flex;
		justify-content: flex-end;
	}
}
.logo,
.nav {
	position: relative;
	display: flex;
	align-items: center;
	@media screen and (max-width: 1024px) {
		display: none;
	}
}
.logo {
	padding-left: 22px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.navItem {
	display: flex;
	align-items: center;
	background: rgba(36, 36, 36, 0.5);
	position: relative; /* Убедитесь, что здесь есть position: relative */
	text-decoration: none;
	overflow: hidden;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	width: 150px;
	height: 55px;
	z-index: 1;

	&:nth-child(2) {
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	&:nth-child(3) {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	&:last-child {
		margin-left: auto;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #cccccc;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: all 0.3s ease;
		&:hover {
			font-weight: 450;
			font-size: 16px;
			color: #fff;
		}
	}
	&.active {
		border-bottom: 2px solid #fea55f;
	}
	&:hover {
		border-color: rgba(255, 255, 255, 0.3); /* Можно добавить подсветку границы */
	}
}
.glow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
	opacity: 1;
	transition: all 0.3s ease; /* Плавное изменение прозрачности */
	transform: translate(-50%, -50%) scale(0); /* Начальный масштаб 0 */
	border-radius: 50%;
	z-index: 10; /* Обеспечиваем, что .glow будет поверх других элементов */
}
.navItem:hover .glow {
	opacity: 1; /* Делаем glow видимым при наведении */
	transform: translate(-50%, -50%) scale(1); /* Увеличиваем scale до нормального */
}

.tab-panel {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}

.burgerMenuHidden {
	display: none;
}

.burgerMenu {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	height: 90vh;
	width: 250px;
	list-style: none;
	background-color: #1c2b3a;
	opacity: 0.3;
}

.burger {
	display: none;
	@media screen and (max-width: 1024px) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 40px;
		justify-content: flex-end;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}

.line {
	fill: none;
	transition:
		stroke-dasharray 400ms,
		stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}
