.navTabsLeft {
	display: flex;
}
.activeTab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	border-right: 1px solid #1e2d3d;
	flex: 0 1 auto; /* Блок расширяется в зависимости от содержимого */
	height: 40px;
	border-bottom: 2px solid #00ff00;
	cursor: pointer;
	&:hover {
		background-color: #1c2b3a;
	}
	.activeTabSvg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 22px;
		width: 23px;
		&:hover {
			background: #162531;
			border-radius: 5px;
		}
	}
	.activeTabSvg:hover path {
		fill: white;
	}
}
.tabItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	border-right: 1px solid #1e2d3d;
	flex: 0 1 auto; /* Блок расширяется в зависимости от содержимого */
	height: 40px;
	cursor: pointer;
	opacity: 1;
	transform: scale(1);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;
	.tabItem.closing {
		opacity: 0;
		transform: scale(0.95);
	}
	&:hover {
		background: rgba(36, 36, 36, 0.5);
	}

	.activeTabSvg {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 22px;
		width: 23px;
		transition:
			transform 0.2s ease,
			fill 0.3s ease;
		&:hover {
			background: rgba(36, 36, 36, 0.5);
			border-radius: 5px;
		}
	}
	.activeTabSvg:hover path {
		fill: white;
	}
}
