.menuList {
	list-style: none;
	padding: 0;
	margin-left: 20px;
	position: absolute;
	z-index: 1;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		position: static;
		padding: 20px;
		margin: 0;
	}
	.menuListWrapper {
		display: flex;
		align-items: center;
	}
	.dropdownContent {
		display: none;
		@media (max-width: 767px) {
			display: flex;
			justify-content: center;
			background-color: transparent;
		}
	}
	.dropdownToggle {
		display: none;
		background: none;
		border: none;
		cursor: pointer;
		font-size: 16px;
		margin: 0;
		@media (max-width: 768px) {
			display: block;
		}
	}
	li {
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		color: #cccccc;
		margin-bottom: 8px;
		&:hover {
			color: #fff;
			cursor: pointer;
			border-radius: 2px;
			background: linear-gradient(
				90deg,
				rgba(54, 157, 85, 0.4) 0%,
				rgba(76, 255, 180, 0.6) 50%,
				rgba(54, 157, 85, 0.4) 100%
			);
		}
	}
}
