.todolist {
	height: 75vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	.headerTodolist {
		border-bottom: 1px solid #ffffff80;
		height: 10%;
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: flex-end;
		.btnNewTodolist {
			height: 35px;
			width: 100px;
			border-radius: 20px;
			border: #3f4044;
			background-color: rgba($color: #ff6600, $alpha: 1);
			color: #fff;
			box-shadow: 0 0 3px 1px #fff;
			transition: transform 0.3s ease;
			margin-bottom: 10px;
			&:hover {
				transform: scale(1.04);
			}
		}
	}
	.items {
		margin-top: 30px;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
		.item {
			padding-top: 30px;
			height: 100%;
			width: 30%;
			background-color: #24262c;
			border-radius: 10px;
			overflow-y: auto;
			.itemTitle {
				font-weight: 600;
				font-size: 14px;
				line-height: 100%;
				color: rgba(255, 255, 255, 0.5);
				margin-left: 10px;
			}
		}
	}
	.modalWindow {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #2a2b2f, $alpha: 0.6);
		backdrop-filter: blur(5px);
		z-index: 10;
		.closeModal {
			position: relative;
			svg {
				fill: #989898;
				position: absolute;
				right: 30px;
				top: 30px;
				opacity: 0.9;
				transition: fill 0.3s ease;
			}
			svg:hover {
				fill: white;
			}
		}
		.createTodolist {
			height: 100%;
			display: flex;
			justify-content: center;
			margin-top: 20%;
			label {
				display: flex;
				flex-direction: column;
				gap: 5px;
				color: red;
				font-size: 14px;
			}
			.inputTodolist {
				height: 30px;
				padding: 10px;
				border-radius: 10px;
				border: none;
			}
			.btnAddTodolist {
				height: 30px;
			}
		}
	}
}
.dragging {
	opacity: 0.5;
	transform: scale(1.05); /* Увеличение */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

.dragOver {
	border: 2px dashed #007bff;
	background-color: rgba(0, 123, 255, 0.1);
}
