.pre {
	margin: 0; /* Убираем отступы */
	padding: 0; /* Убираем внутренние отступы */
	line-height: 1.5; /* Поддерживаем нормальное расстояние между строками */
	// code {
	// 	word-break: break-word;
	// 	white-space: pre-wrap;
	// 	padding: 0;
	// 	margin: 0;
	// 	font-size: inherit; /* Использует размер шрифта родителя */
	// 	font-family: monospace; /* Шрифт для кода */
	// 	background: none; /* Убираем фон */
	// 	color: inherit; /* Наследуем цвет текста */
	// }
}
