.about {
	color: white;
	display: grid;
	grid-template-columns: auto;
	height: 80vh;
	overflow: hidden;
	@media (max-width: 767px) {
		display: block;
	}
	.navIcon {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		@media (max-width: 767px) {
			display: none;
		}
	}
	.tabsAbout {
		display: grid;
		grid-template-rows: 40px auto;
		@media (max-width: 767px) {
			display: block;
			height: 100%;
		}
		.navTabs {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			display: grid;
			grid-template-columns: 240px 1fr;
			@media (max-width: 767px) {
				display: block;
			}
			.navTabName {
				display: flex;
				align-items: center;
				border-right: 1px solid rgba(255, 255, 255, 0.3);
				padding: 10px 0;
				@media (max-width: 767px) {
					justify-content: center;
					height: 100%;
					border: none;
				}

				.dropdownToggle {
					background: none;
					border: none;
					cursor: pointer;
					font-size: 16px;
				}
				.personalInfo {
					cursor: pointer;
				}
			}
			.navTabsRight {
				border-left: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
		.aboutPart {
			display: grid;
			grid-template-columns: 240px 1fr 1fr;
			@media (max-width: 1024px) {
				grid-template-columns: 240px 1fr;
			}
			@media (max-width: 767px) {
				display: block;
			}
			.aboutLeft {
				// display: grid;
				// grid-template-columns: 40px auto;
				// position: relative;
				padding: 0 5px;
				padding-top: 20px;
				border-right: 1px solid rgba(255, 255, 255, 0.3);
				@media (max-width: 767px) {
					display: block;
					border: none;
				}
			}
		}
		.aboutMiddle {
			display: grid;
			grid-template-columns: auto 30px;
			@media (max-width: 767px) {
				display: none;
			}
		}

		.aboutRight {
			display: grid;
			grid-template-columns: auto 30px;
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			@media (max-width: 1024px) {
				display: none;
			}
			.aboutRightPosts {
				.mySwiper {
					max-width: 100%;
					height: 70vh;
					overflow: hidden;

					.sliderList {
						padding: 0;
					}
					/* Глобальные стили Swiper */
					:global {
						.swiper-wrapper {
							transform: none;
						}
						/* Едва видимые остальные слайды */
						.swiper-slide {
							padding: 15px;
							opacity: 0.1;
							background-color: #00000092;
							border-radius: 10px;
							transition: border-radius 0.3s ease;
							width: 100%;
							height: 20%;
							display: flex;
							justify-content: center;
							align-items: center;
							font-weight: bold;
							font-size: 8px;
							transform: scale(0.75);
							transition:
								transform 0.3s ease,
								opacity 0.3s ease,
								box-shadow 0.6s ease;
							&:hover {
								box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
								transition: box-shadow 0.3s ease;
							}
						}
						/* Увеличение центрального слайда */
						.swiper-slide.swiper-slide-active {
							transform: scale(0.8);
							opacity: 0.5;
						}
						/* Затемнение соседних слайдов */
						.swiper-slide-prev,
						.swiper-slide-next {
							opacity: 0.3;
							transform: scale(0.75);
						}
					}
				}
			}
		}
		.blockScroll {
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			width: 30px;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		.scroll {
			margin: 5px auto;
			width: 18px;
			height: 7px;
			background: rgba(255, 255, 255, 0.5);
		}
	}
}
