.about {
	color: white;
	display: grid;
	grid-template-columns: 60px auto;
	.navIcon {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	.tabsAbout {
		display: grid;
		grid-template-rows: 40px auto;
		.navTabs {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			display: grid;
			grid-template-columns: 240px 1fr 1fr;
			.navTabName {
				display: flex;
				align-items: center;
				border-right: 1px solid rgba(255, 255, 255, 0.3);

				.dropdownToggle {
					background: none;
					border: none;
					cursor: pointer;
					font-size: 16px;
				}
				.personalInfo {
					cursor: pointer;
				}
			}
			.navTabsRight {
				border-left: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
		.aboutPart {
			display: grid;
			grid-template-columns: 240px 1fr 1fr;
			@media (max-width: 1024px) {
				grid-template-columns: 240px 1fr;
			}
			.aboutLeft {
				display: grid;
				grid-template-columns: 40px auto;
				position: relative;
				border-right: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
		.aboutMiddle {
			display: grid;
			grid-template-columns: auto 30px;
		}

		.aboutRight {
			display: grid;
			grid-template-columns: auto 30px;
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			@media (max-width: 1024px) {
				display: none;
			}
			.aboutRightPosts {
				padding: 0 40px;
				p {
					margin-top: 18px;
					font-weight: 450;
					font-size: 18px;
					color: #607b96;
				}
			}
		}
		.blockScroll {
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			width: 30px;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		.scroll {
			margin: 5px auto;
			width: 18px;
			height: 7px;
			background: rgba(255, 255, 255, 0.5);
		}
	}
}
