.footer {
	display: flex;
	align-items: center;
	border-top: 1px solid #1e2d3d;
	@media screen and (max-width: 1024px) {
		justify-content: flex-end;
	}
}
.footerItem {
	padding: 9px 31px;
	&:first-child {
		font-weight: 450;
		font-size: 16px;
		color: #607b96;
	}
	&:nth-child(2) {
		border-left: 1px solid #1e2d3d;
		border-right: 1px solid #1e2d3d;
	}
	&:nth-child(3) {
		border-right: 1px solid #1e2d3d;
	}
	&:last-child {
		margin-left: auto;
		z-index: 3;
		border-left: 1px solid #1e2d3d;
		@media screen and (max-width: 1024px) {
			margin: 0;
		}
	}
	a {
		text-decoration: none;
		color: #607b96;
		transition: all 0.1s ease;
		cursor: pointer;
		&:hover {
			font-weight: 450;
			font-size: 16px;
			color: #fff;
			transition: all 0.1s ease;
		}
	}
}
