.footer {
	display: flex;
	align-items: center;

	border-top: 1px solid rgba(255, 255, 255, 0.3);
	@media screen and (max-width: 1024px) {
		justify-content: flex-end;
	}
	@media (max-width: 767px) {
		display: none;
	}
}
.footerItem {
	padding: 13px 31px;
	transition: all 0.3s ease;
	&:first-child {
		font-weight: 450;
		font-size: 16px;
		color: #cccccc;
		padding: 15px;
		p {
			margin: 0;
		}
		&:hover {
			background: none;
			backdrop-filter: none;
		}
	}
	&:nth-child(2) {
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	&:nth-child(3) {
		border-right: 1px solid rgba(255, 255, 255, 0.3);
	}
	&:last-child {
		margin-left: auto;
		z-index: 3;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		@media screen and (max-width: 1024px) {
			margin: 0;
		}
	}
	a {
		text-decoration: none;
		color: #cccccc;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			font-weight: 450;
			font-size: 16px;
			color: #fff;
			transition: all 0.3s ease;
		}
	}
	&:hover {
		border-color: rgba(255, 255, 255, 0.3);
		background: linear-gradient(
			90deg,
			rgba(54, 157, 85, 0.4) 0%,
			rgba(76, 255, 180, 0.6) 50%,
			rgba(54, 157, 85, 0.4) 100%
		);
		backdrop-filter: blur(5px); /* Размытие заднего фона */
		-webkit-backdrop-filter: blur(5px); /* Поддержка для Safari */
		transition: all 0.3s ease;
	}
}
